@import "tailwindcss";

@layer base{
    *{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
        
    }
}